@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

#carta {
  background-color: white;
  width: 200px;
  height: 350px;
  border-radius: 10px;
}

#pintaDown {
  transform: rotate(180deg);
}
